<%- include('partials/header'); -%>

    <div class="nav">
        <a href="/dashboard">Back to dashboard</a>
    </div>
    <div class="RenderJob">
        <h1>
            <%= note.jobTitle %>
        </h1>
        <h2>Company : </h2>
        <%= note.company %>
            <h2>Website : </h2>
            <%= note.website %>
                <h2>Contact of the employer</h2>
                <h2>Name</h2>
                <%= note.employerName %>
                    <h2>Email</h2>
                    <%= note.employerEmail %>
                        <h2>Phone</h2>
                        <%= note.employerPhone %>
                            <h2>Address</h2>
                            <%= note.employerAddress %>
                                <h2>Origin :</h2>
                                <%= note.origin %>
                                    <h2>Status :</h2>
                                    <%= note.status %>
                                        <h2>Comment :</h2>
                                        <%= note.comments %>
                                            <h2>Created :</h2>
                                            <% let date=new Date(note.createdAt); %>
                                                <%= date.toLocaleDateString('fr-FR', { day: '2-digit' , month: '2-digit'
                                                    , year: '2-digit' }) %>
    </div>
    <button><a href="/updateJob/<%= noteID %>">Update</a></button>
    <form action="/delete/<%= noteID %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>